/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background: #fafafa url(../images/bg.png) left top repeat-x;
font-family:"Helvetica Neue",Helvetica, Arial;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -152px;                                                              
float: left;
}

div#content {
width: 940px;
height: 304px;
margin: 0 auto;
clear: both;
position: relative;
top: -152px;

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */

h1.logo{
/*width: 715px;*/
padding-left: 110px;
margin: 0 auto;
height: 110px;
margin-bottom: 20px;
background: url(../images/divider.png) bottom left no-repeat;
}

h1.logo span.two{
font-size: 72px;
color: #4e4d4d;
float: left;
}

h1.logo span.one{
font-size: 36px;
background: #4e4d4d;
padding: 8px 10px 8px 10px;
margin: 8px 10px 0 0;
float: left;
color: #fff;
line-height: normal;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}

p.info{
font-size: 38px;
color: #4d4d4d;
text-align: center;
margin: 0 0 10px 0;
padding: 0;
}

p.info span{
font-size: 18px;
}

p.links{
width: 274px;
margin: 0 auto;
}

a.li{
width: 60px;
color: #fff;
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
line-height: 22px;
height: 22px;
text-decoration: none;
background: url(../images/social.png) left top no-repeat;
float: left;
margin-right: 10px;
padding: 0 0 0 25px;
}

a.li:hover{
background: url(../images/social.png) left bottom no-repeat;
color: #4875b4;
}


a.tw{
width: 54px;
color: #ffffff;
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
line-height: 22px;
height: 22px;
text-decoration: none;
background: url(../images/social.png) -85px top no-repeat;
float: left;
margin-right: 10px;
padding: 0 0 0 25px;
}

a.tw:hover{
background: url(../images/social.png) -85px bottom no-repeat;
color: #33ccff;
}


a.fb{
width: 65px;
color: #fff;
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
line-height: 22px;
height: 22px;
text-decoration: none;
background: url(../images/social.png) -164px top no-repeat;
float: left;
padding: 0 0 0 25px;
}

a.fb:hover{
background: url(../images/social.png) -164px bottom no-repeat;
color: #3b5998;
}



h2{
color: #174c79;
font-size: 27px;
font-weight: 100;
}

h2 span{
font-size: 15px;
font-weight: normal;
}


.main_box{
width: 752px;
float: left;
background: #fff;
height: 93px;	
padding: 20px 0 0 25px;
}

ul.info{
float: left;
margin-top: 15px;
}

ul.info li{
float: left;
font-size: 12px;
text-transform: uppercase;
color: #333;
margin-right: 12px;
}

ul.info li span{
margin-left: 6px;
}

ul.info li.last{
float: left;
font-size: 12px;
text-transform: uppercase;
color: #333;
margin-right: 0;
}

ul.info li.last a{
margin: 0 5px;
color: #333;
text-decoration: none;
}

ul.info li.last a:hover{
text-decoration: underline;
}

/* SOCAIL ICONS */

@import url(http://fonts.googleapis.com/css?family=Lato);
/*@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);*/
/*body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}*/
ul {
    padding:0;
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: black;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: black;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-facebook:hover {
    color: #fff;
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-twitter:hover {
    color: #fff;
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-instagram:hover {
    color: #fff;
    background-color: #c13584;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-vk {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    /*background-color: #322f30;*/
}
.fa-vk:hover {
    color: #fff;
    background-color: #45668e;
}

.social-icons li i {
    padding: 20px;
    font-size: 1.5em;
}

.social-icons li i.fa-facebook {
    padding: 20px 26px;
}

.social-icons li i.fa-instagram {
    padding: 20px 23px;
}

.social-icons li i.fa-twitter {
    padding: 20px 22px;
}